<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>OnlineVotingApplication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>

<body>

    <nav th:replace="navbarElement.html :: menu"></nav>

    <div class="container fill">
        <div class="row aling-items-center fill">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" th:each="candidate : ${candidatePage.content}">
                <div class="card">
                    <img src="..." class="card-img-top" th:alt="${candidate.firstName + ' ' + candidate.lastName}">
                    <div class="card-body">
                        <h3 class="card-title" th:text="${candidate.firstName + ' ' + candidate.lastName}"></h3>
                        <h5 class="card-title" th:text="${candidate.politicalParty.name}"></h5>
                        <p class="card-text" th:text="${candidate.electionProgram}"></p>
                        <a th:href="${'/vote/' + candidate.id}" class="btn btn-primary vote">Zagłosuj</a>
                        <a th:href="${'/moreInfo/' + candidate.id}" class="btn btn-primary moreInfo">Więcej info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>

</html>