<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>OnlineVotingApplication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>

<body>

<nav th:replace="navbarElement.html :: menu"></nav>

<div class="container fill">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imie</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Partia</th>
            <th scope="col">Ilość głosów</th>
            <th scope="col">% głosów</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="candidate : ${candidates}" >
            <th scope="row" class="row"></th>
            <td th:text="${candidate.firstName}"></td>
            <td th:text="${candidate.lastName}"></td>
            <td th:text="${candidate.politicalParty} == null ? 'Niezrzeszony' : ${candidate.politicalParty.name}"></td>
            <td th:text="${candidate.votes}"></td>
            <td th:with="result=${(candidate.votes/totalVotes) * 100}" th:text="${result} + '%'"></td>
        </tr>
        </tbody>
    </table>

</div>


<script th:inline="javascript">
    /*<![CDATA[*/

    let count = /*[[${count}]]*/;
    window.onload = function() {
        const nodes = document.querySelectorAll("th.row");
        for(const node of nodes) {
            node.innerHTML = count++;
        }
    };

    /*]]>*/



</script>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>
</body>

</html>